Hello.java
Hello.class
.vscode/settings.json
bin/App.class
bin/Aula2/Ex1.class
bin/Aula2/Ex2.class
bin/Aula2/Ex3.class
bin/Aula2/Ex4.class
bin/Aula2/Ex5.class
bin/Aula2/Ex6.class
bin/Aula2/Ex7.class
bin/Aula2/Ex8.class
bin/Aula3/Ex1.class
bin/Aula3/Ex2.class
bin/Aula3/Ex3.class
bin/Aula3/Ex4.class
bin/Aula3/Ex5.class
bin/Aula3/Ex6.class
bin/Aula3/Ex7.class
bin/Aula3/Ex8.class
bin/Aula4/Ex1.class
bin/Aula4/Ex2.class
bin/Aula4/Ex3.class
bin/Aula4/Ex4.class
bin/Aula5/Calendar.class
bin/Aula5/Circle.class
bin/Aula5/Date.class
bin/Aula5/Ex1.class
bin/Aula5/Ex2.class
bin/Aula5/Ex3.class
bin/Aula5/Rectangle.class
bin/Aula5/Triangle.class
bin/aula01/KmToMiles.class
bin/aula01/major.txt
bin/aula01/MyFirstClass.class
bin/aula01/PescadaDeRaboNaBoca.class
bin/aula01/ReadFileExample.class
bin/aula01/StringExample.class
src/App.java
src/Aula3/Ex1.class
src/Aula3/Ex2.class
src/Aula3/Ex3.class
src/Aula3/Ex4.class
src/Aula3/Ex5.class
src/Aula3/Ex6.class
src/Aula3/Ex7.class
src/Aula3/Ex8.class
src/Aula4/Ex1.class
src/Aula4/Ex2.class
src/Aula4/Ex3.class
src/Aula4/Ex4.class
src/Aula5/Calendar.class
src/Aula5/Circle.class
src/Aula5/Date.class
src/Aula5/Ex1.class
src/Aula5/Ex2.class
src/Aula5/Ex3.class
src/Aula5/Rectangle.class
src/Aula5/Triangle.class
